<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Tasks</title>
    <link rel="stylesheet" href="globalStyle.css">
</head>

<body>
Created Tasks:
<div th:each=" task1 : ${createdTasks}">
    <a th:href="@{/alltasks/{taskId}(taskId=${task1.getId()})}"
       th:text="${task1.getName() + ', ' + task1.getCreationDate()}">value</a>
</div>
<hr/>
For execution:
<div th:each=" task2 : ${execTasks}">
    <a th:href="@{/alltasks/{taskId}(taskId=${task2.getId()})}"
       th:text="${task2.getName() + ', ' + task2.getCreationDate()}">value</a>
</div>
<hr/>
<a href="/alltasks/new"><input type="button" value="Create Task"></a><a href="/home"><input type="button" value="To Home"></a>

</body>
</html>