<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
</head>
<body>
<form th:action="@{/alltasks}" th:method="POST" th:object="${task}">
    <label for="task_name">Enter task Name: </label>
    <input id="task_name" th:field="*{name}" th:type="text"/>
    <br/>
    <label for="task_body">To Do: </label>
    <input id="task_body" th:field="*{body}" th:type="text"/>
    <br/>
    <label for="task_deadline">Deadline: </label>
    <input id="task_deadline" th:field="*{deadline}" th:type="date"/>
    <br/>
    <button type="submit">Create Task</button>
    <a href="/alltasks"><input type="button" value="Return"></a>
</form>
</body>
</html>