<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success!</title>
    <link rel="stylesheet" href="/globalStyle.css">
</head>
<body>

<p>Welcome, <span th:text="${person.getName()}"></span>!</p>
<p>Your role: <span th:each="role : ${person.getRoles()}" th:text="${role.getName()}"></span></p>
<p th:if="${#strings.contains(person.getRoles(), 'ADMIN')}">
    User <a th:href="@{/users}">interface</a>
</p>
<p>Task <a th:href="@{/alltasks}">interface</a></p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
</body>
</html>